:root {
    --Primary-Color: green;
    --Secondary-Color: white;
    --Background-Color: rgb(47, 47, 47);
    --Text-Color: white;
    --Font-Family: Verdana;
    --black: black;
}

body {
    font-family: var(--Font-Family);
    background-color: var(--Background-Color);
    color: var(--Text-Color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
}

nav {
    display: flex;
}

nav p {
    margin: 0 15px; /* Adjusted for desktop spacing */
    font-size: 16px; /* Adjust font size for desktop */
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    nav p {
        margin: 5px 0;
    }

    #menu {
        display: block; /* Show menu button on mobile */
    }
}
