:root{
   --Primary-Color: green;
   --Secondary-Color: white;
   --Background-Color: rgb(47, 47, 47);
   --Text-Color: white;
   --Font-Family: Verdana;
   --black: black;
}

body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header{
   background-color: var(black);
}

.header-container{
   background-color: var(--black);
   color: var(--Secondary-Color);
   display: flex;
   flex-direction: row;

}

@media (min-width: 320px) and (max-width: 426px) {
   
}

@media (min-width: 427px) and (max-width: 4000px) {
   nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

   }
}