:root {
  --primary-color: #004d1a;
  --primary-color2: #4d0000;
  --secondary-color: #e2dede;
  --accent1-color: #2c5c7d;
  --accent2-color: #006622;
  --heading-font: "Outfit", sans-serif;
  --paragraph-font: "Poppins", sans-serif;
  --black: #000000;
  --white: #ffff;

  --nav-background-color: #1e4e6b;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #fcfc05;
  --nav-hover-background-color: #006622;
}


body {
  font-family: var(--paragraph-font);
  margin: 0;
}

.course.completed {
    display: inline-flex;
    background-color: var(--accent2-color); /* Light green background for completed courses */
    color: var(--white); /* Dark green text color */
    border: 1px solid var(--black); /* Border color */
    padding: 10px;
    margin: 5px 10px ;
}

.course.not-completed {
    display: inline-flex;
    background-color: var(--primary-color2); /* Light red background for not completed courses */
    color: var(--white); /* Dark red text color */
    border: 1px solid var(--black); /* Border color */
    padding: 10px;
    margin: 5px 10px;
    
}

.wcpc{
    padding-bottom: 10px;
}

.but{
        background-color: var(--black); /* Button background color */
        color: white; /* Text color */
        padding: 10px 20px; /* Padding inside the button */
        border: none; /* Remove border */
        border-radius: 5px; /* Rounded corners */
        font-size: 16px; /* Text size */
        cursor: pointer; /* Pointer cursor on hover */
        margin-bottom: 5px;
        
    }

    .butt{
        border-bottom: 1px solid grey;
        margin: 20px;
        margin-bottom: 10px;
    }

    .but:hover {
        background-color: #0056b3; /* Darker background on hover */
        color: #e6e6e6; /* Slightly lighter text color on hover */
        transform: scale(1.05); /* Slightly enlarge the button */
        transition: 0.3s ease; /* Smooth transition for the hover effect */
    }

    
    .nav a.active {
        color: yellow;
    }

    .but:focus {
        background-color: #0056b3; /* Darker background on hover */ 
        margin: 2px;/* Outline for accessibility */
        outline-offset: 2px;
    }

    .navigation a:focus {
        color: var(--nav-hover-link-color); /* Darker background on hover */ 
        margin: 2px;/* Outline for accessibility */
        outline-offset: 2px;
    }

    .navigation.open a:focus {
        color: var(--nav-hover-link-color); /* Darker background on hover */ 
        margin: 2px;/* Outline for accessibility */
        outline-offset: 2px;
    }

    .active{
        color: var(--nav-hover-link-color)!important;
    }

    .course{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    
    }

    .course {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 50px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
    }





.aba img {
    width: 100%;
    height: auto;
    margin: 2px;
  }

.header {
  background-color: var(--nav-background-color);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

section {
  margin: 2vw;
  background-color: var(--secondary-color);
  box-shadow: 0 0 30px;
  text-align: center;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  padding-bottom: 10px;
}

section h2 {
  color: var(--white);
  padding: 2vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  background-color: var(--nav-background-color);
}

main {
  margin: 0;
}

.header img {
  width: 100px;
  margin-right: 20px;
  box-shadow: 0 0 30px black;
}

header h1 {
  color: var(--white);
  position: relative;
  z-index: 1;
}

.headercontainer {
  background-color: var(--accent1-color);
}

.navigation a {
  color: white; /* Link color */
  padding: 10px; /* Padding for links */
  text-decoration: none; /* Remove underline */
  transition: background 0.3s; /* Smooth background transition */
}

.navigation a :hover{
    color: var(--nav-hover-link-color);
}

/* Hamburger button styles */
#menu {
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  position: relative;
  float: right;
  right: 4px;
  margin: auto; /* Position relative for the icon */
}

.hamburger-icon {
  display: block;
  width: 10vw; /* Width of the hamburger icon */
  height: 1vw; /* Height of the hamburger lines */
  background-color: var(--white); /* Color of the hamburger lines */
  position: relative;
  z-index: 1; /* Position relative for stacking */
}

/* Create three lines for the hamburger icon */
.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  /* Create pseudo-elements */
  width: 10vw; /* Same width as the main line */
  height: 1vw; /* Same height as the main line */
  background-color: white; /* Color of the lines */
  position: absolute; /* Position absolute for stacking */
  left: 0; /* Align to the left */
  transition: all 0.3s;
  margin-bottom: 10px; /* Smooth transition */
}

.hamburger-icon::before {
  top: -10px; /* Position above the main line */
}

.hamburger-icon::after {
  top: 10px; /* Position below the main line */
}

/* Change the hamburger icon to an 'X' when open */
#menu.open .hamburger-icon {
  background-color: transparent; /* Hide the main line */
}

#menu.open .hamburger-icon::before {
  transform: rotate(45deg); /* Rotate the top line */
  top: 0; /* Align to the center */
}

#menu.open .hamburger-icon::after {
  transform: rotate(-45deg); /* Rotate the bottom line */
  top: 0; /* Align to the center */
}

.countandflag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer {
  padding: 10px;
  display: flex;
  text-align: center;
  background-color: var(--accent1-color);
  margin-top: 10px;
  box-shadow: 0 0 30px gray;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


footer p {
  color: white;
  margin: 1%;
}

footer img{
    width:4vw;
    height: 4vw;
}

.lm {
  color: yellow;
}

.hero-img img {
  width: 100px;
  height: auto;
  margin: 5px;
}

@media (min-width: 320px) and (max-width: 426px) {
  /* Basic styles for the navigation */
  .navigation {
    display: none; /* Hide navigation by default */
    flex-direction: column;
    padding: 2vw; /* Stack items vertically */
    background-color: var(
      --nav-hover-link-color
    ); /* Background color for the menu */
    position: absolute; /* Position it absolutely */
    right: 0; /* Align to the right */
    z-index: 1; /* Ensure it appears above other content */
  }

  .headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background-color);
  }

  .hero-img {
    grid-column: 1;
  }

  section h2{
    font-size: 1rem;
  }

  section h3{
    font-size: 1rem;
  }

  

  .headercontainer h1 {
    color: white;
    font-size: large;
  }

  .navigation.open {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--nav-background-color);
    gap: 0; /* Show the navigation when open */
  }

  /* Hamburger button styles */
  #menu {
    background: none; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    position: relative;
    left: 4vw;
    float: right;
    bottom: 40px;
    margin: 4vw; /* Position relative for the icon */
  }

  .hamburger-icon {
    display: block;
    width: 10vw; /* Width of the hamburger icon */
    height: 1vw; /* Height of the hamburger lines */
    background-color: white; /* Color of the hamburger lines */
    position: relative;
    z-index: 1; /* Position relative for stacking */
  }

  /* Create three lines for the hamburger icon */
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    /* Create pseudo-elements */
    width: 10vw; /* Same width as the main line */
    height: 1vw; /* Same height as the main line */
    background-color: white; /* Color of the lines */
    position: absolute; /* Position absolute for stacking */
    left: 0; /* Align to the left */
    transition: all 0.3s;
    margin-bottom: 10px; /* Smooth transition */
  }

  .hamburger-icon::before {
    top: -10px; /* Position above the main line */
  }

  .hamburger-icon::after {
    top: 10px; /* Position below the main line */
  }

  /* Change the hamburger icon to an 'X' when open */
  #menu.open .hamburger-icon {
    background-color: transparent; /* Hide the main line */
  }

  #menu.open .hamburger-icon::before {
    transform: rotate(45deg); /* Rotate the top line */
    top: 0; /* Align to the center */
  }

  #menu.open .hamburger-icon::after {
    transform: rotate(-45deg); /* Rotate the bottom line */
    top: 0; /* Align to the center */
  }

  .navigation a {
    font-weight: bold;
  }

  .aba img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  figcaption {
    font-style: oblique;
    margin-bottom: 2vw;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .header {
    background-color: var(--nav-background-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .but{
    background-color: var(--black); /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Pointer cursor on hover */
    margin-bottom: 5px;
    width: 200px;
    
}

  .navigation a:hover {
    color: yellow;
}

  .headercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-background-color);
    padding: 10px;
  }

  .headercontainer h1 {
    margin-left: 2vw;
    color: var(--secondary-color);
    font-size: xx-large;
  }

  section h2 {
    color: var(--white);
    padding: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    background-color: var(--nav-background-color);
  }

  main {
    margin: 0;
  }

  header img {
    width: 100px;
    margin-right: 20px;
    box-shadow: 0 0 30px black;
  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }

  #menu {
    display: none;
  }

  .navigation {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

  .navigation a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
  }

  .navigation a:hover {
    
    color: black;
    font-weight: bold;
  }

  .navigation a:active {
    color: var(--black); /* Change the text color when active */
     /* Change the background color when active */
  }

  .courseandcount {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  section h2 {
    position: relative;
    bottom: 20px;
  }

  .aba img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  figcaption {
    font-style: oblique;
    margin-bottom: 2vw;
  }
}

@media (min-width: 794px) {
  .header {
    background-color: var(--nav-background-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .but{
    background-color: var(--black); /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Pointer cursor on hover */
    margin-bottom: 5px;
    width:  250px;
    margin-left: 10px;
    margin-right: 10px;
    
}

  .headercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-background-color);
    padding: 10px;
  }

  .headercontainer h1 {
    margin-left: 2vw;
    color: var(--white);
    font-size: xx-large;
  }

  section h2 {
    color: var(--white);
    padding: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    background-color: var(--nav-background-color);
  }

  main {
    margin: 0;
  }

  header img {
    width: 100px;
    margin-right: 20px;
    box-shadow: 0 0 30px black;
  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }

  #menu {
    display: none;
  }

  .navigation {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

  .navigation a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
  }

  .navigation a:hover {
    color: var(--nav-hover-link-color);
    font-weight: bold;
  }


  .courseandcount {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  section h2 {
    position: relative;
    bottom: 20px;
  }

  .aba img {
    width: 100%;
    height: auto;
    margin: 2px;
  }

  figcaption {
    font-style: oblique;
    margin-bottom: 2vw;
  }
}
